@font-face
  font-family: 'Montserrat'
  src: url('/assets/montserrat/Montserrat-Regular.ttf')

.banner
  background-image: linear-gradient(#19113b, #2e1885)
  font-family: 'Montserrat'

.banner__content
  display: flex
  max-width: 1300px
  margin: auto
