.simulator__header
  display: flex

.simulator__body
  padding: 2rem
  display: flex
  flex-direction: column
  align-items: center

// simulator header tabs
.tab
  color: #fff
  background-color: #171031
  height: 30px
  padding: 8px
  display: flex
  flex-grow: 1
  align-items: center
  justify-content: center

.tab--left
  border-top-left-radius: 18px

.tab--right
  border-top-right-radius: 18px

.tab--active
  background-color: #fff
  color: #f65708

// simulator body title
.title
  margin-bottom: 1.5rem

.title--value
  margin-left: 10px

// simulator body form
