@font-face
  font-family: 'Montserrat'
  src: url('/assets/montserrat/Montserrat-Regular.ttf')

@font-face
  font-family: 'Montserrat'
  src: url('/assets/montserrat/Montserrat-SemiBold.ttf')
  font-weight: bold
